/* Style the header with a grey background and some padding */
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');

.welcometxt {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: rgba(255,255,255,.8);
  border-radius: 10px;
  margin: 40px auto;
}

.welcometxt h2 {
  font-size: 30px;
  font-weight: 500;
  font-style: italic;
  align-content: center;
}

@media screen and (max-width: 500px) {

  .welcometxt {
    display: flex;
    align-items: center;
  }
  .welcometxt h2 {
    font-size: 14px;
    font-weight: 200;
  }

}





