/* Font */
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;600;900&display=swap");

h1,
h2,
h3 {
  font-weight: 900; 
  margin-top: 0;
  font-family: "Satisfy";
  color: var(--color-lavender);
}

h1 {
  font-size: 40px;
  font-weight: 600;
  align-content: center;
  margin-bottom: 0;
  text-align: center;
}

h2 {
  font-size: 36px;
  margin-bottom: var(--space-medium);
  color: #000000;
}
h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: var(--space-small);
}

p {
  margin-top: 0;
}


body {
  font-family: "Gothic A1", sans-serif;
  box-sizing: border-box;
  max-width: 1024px;
  margin: 0 auto;
  padding: var(--space-bigger) var(--space-medium) var(--space-big); /* top, sides, bottom */
  height: 100%;
}



html { 
  background: url(https://images.unsplash.com/photo-1599785209796-786432b228bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=933&q=80) no-repeat center center fixed; 

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}


.header {
  background-color: #f1f1f1;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  line-height: 25px;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* active/current link*/
.header a.active {
  background-color: var(--color-lavender);
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: space-between;
}


.footer {
  background-color: var(--color-lavender);
  padding: 20px 10px;
}

.footer .social-media {
  display: flex;
  max-width: 450px;
  margin: 0 auto;
}

.footer .social-media > li {
  list-style: none;
  display: inline-block;
  margin: 10px auto;
  font-size: 20px;
  padding: 10px 10px;
}

.footer .social-media a {
  color: #f1f1f1; 
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
    font-size: smaller;
  }

  .header-right {
    float: none;
  }
}
